:root {
        /* Text color */
    --primary-text-color: black;
    --secondary-text-color: white;

        /* Light Background color */
    --primary-light-bg-color: #ffffff;
    --secondary-light-bg-color: #EEEEEE;

        /* Dark Background color */
    --primary-dark-bg-color: #2c2f33;
    --secondary-dark-bg-color: #000000;

        /* Style color */
    --primary-style-color: #0f84c9;
    --secondary-style-color: #f47b04;
}

body {
    font-family: 'Roboto',sans-serif;

    background-color: var(--secondary-light-bg-color);
    margin: auto;
    scroll-behavior: smooth;
}

.header {
    font-weight: bold;
    text-align: left;

    background-color: var(--primary-light-bg-color);

    width: 100%;
    height: 7vh;
}

.button-login {
    color: var(--primary-style-color);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

    background-color: var(--primary-light-bg-color);
    border: 2px solid var(--primary-style-color);

    padding: 10px 24px;
    position: relative;
    top: 1vh;
    left: 80vw;
    border-radius: 8px;
    display: inline-block;

    transition-duration: 150ms;
}

.button-login:hover {
    color: var(--primary-light-bg-color);
    background-color: var(--primary-style-color);
}

.button-register {
    color: var(--primary-light-bg-color);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

    background-color: var(--secondary-style-color);
    border: 2px solid var(--secondary-style-color);

    padding: 1vh 24px;
    position: relative;
    top: 1vh;
    left: 80vw;
    border-radius: 8px;
    display: inline-block;

    transition-duration: 150ms;
}

.button-register:hover {
    color: var(--secondary-style-color);
    background-color: var(--primary-light-bg-color);
}

.footer {
    background-color: var(--secondary-light-bg-color);

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    border-bottom-width: 1vh;
    border-bottom-style: solid;
    border-bottom-color: var(--secondary-style-color);
}

.footer-column {
    flex: 50%;
    padding: 10px;
}